@import "tailwindcss";
@import "./theme/index.css";


body {
  background: var(--background);
  color: var(--text-color);
  user-select: none;
}

.film-grain {
  position: fixed;
  inset: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  opacity: 0.5;
  mix-blend-mode: difference;
  image-rendering: pixelated;
}

.scroll-css::-webkit-scrollbar {
  width: 10px;
}
.scroll-css::-webkit-scrollbar-track {
  background: transparent;
}
.scroll-css::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 999px;
}
.scroll-css::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

select{
  appearance: none;
  -webkit-apperance: none;
  -moz-apperance: none;
}
